@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'mainHead';
    font-weight: 700;
    src: url('/Frontend/src/Fonts/Press_Start_2P/PressStart2P-Regular.ttf')
}
